body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.inicio{
  background-image: url("../assets/images/banner-bk.jpg");
  padding: 100px;
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
 color: rgb(255, 255, 255);
}

.text_fondo{
  max-width:40% ;
  margin: 40px 70px;
  justify-content: flex-start;
  text-align: justify;
}
.word{
  font-family:sans-serif;
  font-size:  50px;
}
#ala{
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  justify-content: flex-end;
  display: flex;
}
.button{
  background-color: #34e991;
  color: rgb(0, 0, 0);
  padding: 15px 40px;
  border: none;
  border-radius: 60px;
}
.logo{
  margin: 70px;
  display: flex;
  justify-content: space-between
}
.img-logo {
  width: 70px;
  height: 70px;
}
.segundoTitulo{
  padding: 30px 100px;
  text-align: center;
}
.list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.alo {
  margin: 30px 10px;
  max-width: 400px;
  
}
.button2{
  background-color: #090c25;
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  border: none;
  border-radius: 60px;
}
.titulo2{
  font-size: 50px;
  font-family: Arial, sans-serif;
}
.tercerTitulo{
  padding: 30px 100px;
  text-align:left;
  background: linear-gradient(160deg, #fff 50%, #39ff9f 0);
}

.header{
  width: 90%;
  display: flex;
  font-family:Arial, Helvetica, sans-serif
}
.text3{
  width: 100%;
}
.p2{
  color: #666;
}
.button2{
  height: auto;
  align-self:flex-end;
  padding: 15px 40px;
  border-radius: 40px;
  cursor: pointer; 
  color: #fff;
  background-color: rgb(2, 6, 31);
}

.atla{
  display: flex;
  justify-content: space-between;
}

.atla div, .atla img{
  width: 45%;
}

.pricing {
  padding: 50px;
  text-align: center; 
}

.title4 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.container1{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 80px;
}
.container2{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
    right: 70px;
    left: -500px;
}
span{
 font-size: 80px;
}
.container2 button{
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    padding: 10px 30px;
    border-radius: 40px;
    list-style: none;
    cursor: pointer;
    color: rgb(2, 6, 31);
  }
.color_container{
  display: flex;
  background-color: rgb(2, 6, 31);
  border-radius: 1%;
  color: white;
  width: 320px;
  height: 450px;
  align-content: space-between;
  justify-content: center;
}
  .container3{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
  }
  
  .container3 button{
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer; 
    border: none;
    background-color: rgb(0, 247, 164);
    color: rgb(2, 6, 31);
  }
  
  .container4{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
  }
  
  .container4 button{
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    padding: 10px 30px;
    border-radius: 40px;
    list-style: none;
    cursor: pointer;
    color: rgb(2, 6, 31)
  }
  
  .company{
    display: flex;
    justify-content: space-evenly;
    padding: 1vh;
    background-color: #dfdcdc;
  }

.client {
    margin: 30px;
    margin-right: 50px;
}

.section-3{
  background-image: url("../assets/images/contact-bk.jpg");
  height: 500px;
  width: 100 auto;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  color: rgb(255, 255, 255);
}
.section-3{
  background-image: url("../assets/images/contact-bk.jpg");
  height: 500px;
  width: 100 auto;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  color: rgb(255, 255, 255);
}

.h1-3{
  font-size: 3rem;
  margin: 10px, 0px;
}

  .texts{
  max-width:80% ;
  margin: 70px;
  justify-content: flex-start;
  text-align: justify;
  }
  .form {
    background-color: transparent;
    margin: 15px;
    padding: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 100%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  
  .form-group {
    width: 48%;
    margin-right: 7%; 
  }
  
  .form-group:last-child {
    margin-right: 0; 
  }
  
  .form-input {
    padding: 10px;
    border: 2px solid rgb(0, 247, 164);
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: #333;
  }
  
  textarea.form-input {
    width: 210%;
    height: 90px;
    resize: vertical;
    background-color: transparent;
    color: #333;
  }
  
  .submit-button {
    background-color: rgb(0, 247, 164);
    color: rgb(12, 12, 12);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 107%;
  }
  
  .submit-button:hover {
    background-color:  rgb(0, 247, 164);
  }
  .Message{
    color:rgb(0, 247, 164);
  }

footer{
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  justify-content: space-around;
  background-color: rgb(2, 6, 31)
  }
 .footer-p{
    align-items: center;
    margin: 10px;
  }
  .red-social{
    width:40%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
   }
.icon{
    background-color: #fff;
    margin: 5px;
    border-radius: 60%;
    border: none;
    padding: 5px 7px;
    border-color: rgb(2, 6, 31)
}

@media screen and (max-width: 1279px){
     .company{
      display: flex;
      justify-content: space-around;
      padding: 1vh;
      background-color: #dfdcdc;
  }

  .word{
    font-family:sans-serif;
    font-size:  48px;
  }
  .client {
    margin: 20px;
    margin-right: 30px;
   }
  }

  @media screen and (max-width: 920px){
    .inicio{
      background-image: url("../assets/images/banner-bk.jpg");
      padding: 50px;
      background-size: cover;
      background-repeat: no-repeat;
     background-position: center;
     color: rgb(255, 255, 255);
    }
    .company{
     display: flex;
     justify-content: space-between;
     padding: 1vh;
     background-color:  #dfdcdc;
 }

 .atla{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
 .atla div, .atla img{
  width: 55%;
  height: 30%;

}

.titulo2{
  font-size: 37px;
  font-family: Arial, sans-serif;
}


 .word{
   font-family:sans-serif;
   font-size:  37px;
 }
 .client {
   margin: 5px;
   margin-right: 10px;
  }

  .h1-3{
    font-size: 2rem;
    margin: 0px, 20px;
  }
  .texts{
    max-width:80% ;
    margin: 50px;
    justify-content: flex-start;
    text-align: justify;
    }
  
 }

 @media screen and (max-width: 768px){
  .inicio{
    background-image: url("../assets/images/banner-bk.jpg");
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
   background-position: center;
   color: rgb(255, 255, 255);
  }


.atla{
display: flex;
margin: 40px, 10px, 0;

}
.atla div, .atla img{
width: 55%;
height: 50%;

}

.titulo2{
font-size: 37px;
font-family: Arial, sans-serif;
}

.titulo2{
  margin: 10px;
}
.word{
 font-family:sans-serif;
 font-size:  30px;
}

.container1{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 80px;
    
}
.container2{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
    right: 70px;
    left: -500px;
}
span{
 font-size: 80px;
}
.container2 button{
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    padding: 10px 30px;
    border-radius: 40px;
    list-style: none;
    cursor: pointer;
    color: rgb(2, 6, 31);
  }
.color_container{
  display: flex;
  background-color: rgb(2, 6, 31);
  border-radius: 1%;
  color: white;
  width: 300px;
  height: 450px;
  align-content: space-between;
  justify-content: center;
}
  .container3{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
  }
  
  .container3 button{
    margin: 20px;
    padding: 11px 35px;
    border-radius: 40px;
    cursor: pointer; 
    border: none;
    background-color: rgb(0, 247, 164);
    color: rgb(2, 6, 31);

   
  }
  
  .container4{
    text-align: center;
    margin: 30px 10px;
    max-width: 300px;
   
  }
  
  .container4 button{
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    padding: 10px 30px;
    border-radius: 40px;
    list-style: none;
    cursor: pointer;
    color: rgb(2, 6, 31)
  }

  .company{
    display: flex;
    align-content: space-evenly;
    flex-wrap: nowrap;
    background-color:  #dfdcdc;
 }

.client {
   margin: 29px;
}

.h1-3{
  font-size: 150%;
  margin: 0px, 10px;
}
.texts{
  max-width:80% ;
  margin: 60px;
  justify-content: flex-start;
  text-align: justify;
  }

  .form {
    background-color: transparent;
    margin: 15px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 50%;
  }

}

@media screen and (max-width: 480px){
  .inicio{
    width: 79%;
    padding: 50px;
  }

  .text_fondo{
    max-width:50% ;
    margin: 40px 40px;
    justify-content: flex-start;
    text-align: justify;
  }

  .word{
    font-family:sans-serif;
    font-size:  21px;
   }

   #ala{
    color: #fafafa;
    padding: 30px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    justify-content: flex-end;
    display: flex;
  }
  .button{
    background-color: #34e991;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border: none;
    border-radius: 60px;
  }
  .logo{
    margin: 30px;
    display: flex;
    justify-content: space-between
  }
  .img-logo {
    width: 90px;
    height: 90px;
  }
  .segundoTitulo{
    padding: 50px;
    text-align:center
  }
  .list {
    display: flex;
    flex-direction: column;
    padding: 20px, 40px;
    margin-top: 10px;
  }
  .alo {
    width: 95%;
    margin: 30px 0px;
   
  }

  .titulo2{
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  .tercerTitulo{
    width: 87%;
    padding: 30px 25px;
    text-align:left;
    background: linear-gradient(160deg, #fff 50%, #39ff9f 0);
  
  }

  .header{
    width: 90%;
    display: flex;
    font-family:Arial, Helvetica, sans-serif
  }
  .text3{
    width: 100%;
  }

.atla{
display: flex;
margin: 40px, 10px, 0;
}
.atla div, .atla img{
width: 55%;
height: 50%;
}

.titulo2{
font-size: 27px;
margin: 1px;
font-family: Arial, sans-serif;
}

.pricing {
  width: 90%;
  padding: 24px;
  text-align: center;
}

.title4 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.container1{
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.container2{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
}

.color_container{
  width: 380px;
  justify-content: center;
}
  .container3{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
  }
  
  .container4{
    text-align: center;
    margin: 30px 50px;
    max-width: 300px;
  }

  .company{
    width: 98%;
 }

.client {
   margin: 30px;
}

.section-3{
  height: auto;
  width: 100%;
  flex-direction: column;
}

.h1-3{
  font-size: 190%;
  margin: 0px, 10px;
}

  .form {
    background-color: transparent;
    margin: 15px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 70%;
  }

footer{
  width: 100%;
  }

}

@media screen and (max-width: 550px){
  .inicio{
    width: 82%;
    padding: 50px;
  }

  .text_fondo{
    max-width:50% ;
    margin: 40px 40px;
    justify-content: flex-start;
    text-align: justify;
  }

  .word{
    font-family:sans-serif;
    font-size:  21px;
   }

   #ala{
    color: #fafafa;
    padding: 30px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    justify-content: flex-end;
    display: flex;
  }
  .button{
    background-color: #34e991;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border: none;
    border-radius: 60px;
  }
  .logo{
    margin: 30px;
    display: flex;
    justify-content: space-between
  }
  .img-logo {
    width: 90px;
    height: 90px;
  }
  .segundoTitulo{
    padding: 50px;
    text-align:center
  }
  .list {
    display: flex;
    flex-direction: column;
    padding: 20px, 40px;
    margin-top: 10px;
  }
  .alo {
    width: 130%;

   
  }

  .titulo2{
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  .tercerTitulo{
    width: 91%;
    padding: 30px 25px;
    text-align:left;
    background: linear-gradient(160deg, #fff 50%, #39ff9f 0);
  
  }

  .header{
    width: 93%;
    display: flex;
    font-family:Arial, Helvetica, sans-serif
  }
  .text3{
    width: 100%;
  }

.atla{
display: flex;
margin: 40px, 10px, 0;
}
.atla div, .atla img{
width: 55%;
height: 50%;
}

.titulo2{
font-size: 27px;
margin: 1px;
font-family: Arial, sans-serif;
}

.pricing {
  width: 90%;
  padding: 24px;
  text-align: center;
}

.title4 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.container1{
  flex-direction: column;
  justify-content: center;
  width: auto;

}
.container2{
    text-align: center;
    margin: 30px 100px;
    max-width: 300px;
}

.color_container{
  margin: 30px 100px;
  
  justify-content: center;
}
  .container3{
    text-align: center;
    margin: 30px 100px;
    max-width: 300px;
  }
  
  .container4{
    text-align: center;
    margin: 30px 100px;
    max-width: 300px;
  }

  .company{
    width: 98%;
 }

.client {
   margin: 40px;
}

.section-3{
  height: auto;
  width: 100%;
  flex-direction: column;
}

.h1-3{
  font-size: 190%;
  margin: 0px, 10px;
}

  .form {
    background-color: transparent;
    margin: 15px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 70%;
  }

footer{
  width: 100%;
  }

}



